<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Horizontal Form</h3>
    </div>


    <form method="post" class="form-horizontal">
        <div class="card-body">
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">Remember me</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-info">Sign in</button>
            <button type="submit" class="btn btn-default float-right">Cancel</button>
        </div>

    </form>

    <p>Click on the "Choose File" button to upload a file:</p>

    <form method="post" enctype="multipart/form-data" asp-action="UploadFile">
        <input type="file" name="file" multiple>    
        <button class="btn-primary" type="submit" >Upload</button>
    </form>

    <form method="post" enctype="multipart/form-data" asp-controller="Course" asp-action="UploadFile">
        <input type="file" name="file" multiple>
        <button class="btn-primary" type="submit">Upload2</button>
    </form>

    <a asp-controller="MongoTest" asp-action="Download" asp-route-id="637ce1b4cd4d5788887f30be" class="btn-primary">Download</a>
</div>