@{
    ViewData["Title"] = "Admin Page";
}

<div class="row">
    <div class="col-4">
        <a asp-area="Admin" asp-controller="User" class="btn btn-block btn-success">Users</a>
    </div>
    <div class="col-4">
        <a asp-area="Admin" asp-controller="Language" class="btn btn-block btn-success">Language</a>
    </div>
    <div class="col-4">
        <a asp-area="Admin" asp-controller="Category" class="btn btn-block btn-success">Categories</a>
    </div>
</div>