@using TopCourses.Core.Models
@model IEnumerable<CategoryModel>

<h2>All Categories</h2>

<ul class="list-group">
    @foreach (var element in Model)
    {
        <li class="list-group-item">@element.Title</li>
    }
</ul>

<a asp-controller="Category" asp-action="AddCategory">
    <input type="button" class="btn btn-primary" value="Add" />
</a>
