@using TopCourses.Core.Models.Course;
@using TopCourses.Infrastructure.Data.Models.enums
@model AddCourseModel

<h2>Add Course</h2>

<form asp-controller="Course" asp-action="Add" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" placeholder="Title" />
            <span asp-validation-for="Title" class="small text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Subtitle"></label>
            <input asp-for="Subtitle" class="form-control" placeholder="Subtitle" />
            <span asp-validation-for="Subtitle" class="small text-danger"></span>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" placeholder="ImageUrl" />
        <span asp-validation-for="ImageUrl" class="small text-danger"></span>
    </div>
    <div class="col-md-2">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" class="form-select">
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Title</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="small text-danger"></span>
    </div>
    <div class="col-md-2">
        <label asp-for="LanguageId" class="form-label"></label>
        <select asp-for="LanguageId" class="form-select">
            @foreach (var language in Model.Languages)
            {
                <option value="@language.Id">@language.Title</option>
            }
        </select>
        <span asp-validation-for="LanguageId" class="small text-danger"></span>
    </div>
    <div class="col-md-2">
        <label asp-for="Level" class="form-label"></label>
        <select asp-for="Level" asp-items="Html.GetEnumSelectList<Level>()" class="form-select"></select>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control col-md-6" rows="3"></textarea>
        <span asp-validation-for="Description" class="small text-danger"></span>
    </div>
    <div class="form-group col-md-1">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="small text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create Course</button>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial.cshtml" />
}