@using TopCourses.Core.Models.Course
@model CourseDetailsModel

<img src="@Model.ImageUrl" style="width: 18rem;height: 18rem" class="img-thumbnail">
<p>@Model.Id</p>
<p>@Model.Title</p>
<p>@Model.Subtitle</p>