@using TopCourses.Core.Models.Video
@model VideoModel

@{
    ViewData["Title"] = "Video";
}

<div class="container">
    <h4>Course Title</h4>
    <h6>Topic Title</h6>

    <div class="row">
        <div class="col-md-9">
            <iframe width="854" height="480"
                    src="@Model.VideoUrl">
            </iframe>
        </div>
        <div class="col-md-2 pl-2">
            <label>
                zaglavie
            </label>
            <ul>
                <li>elementi</li>
                <li>elementi</li>
                <li>elementi</li>
                <li>elementi</li>
            </ul>
        </div>
    </div>
</div>
