@using TopCourses.Core.Models.Section
@model AddSectionModel

@{
    ViewData["Title"] = "Create";
}

@*<form asp-controller="Section" asp-action="Create" method="post">
    <div class="card card-default col-md-8">
        <div class="card-header bg-indigo">
            <h3 class="card-title ">Add Section</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <label>Title</label>
                    <input asp-for="@Model.Title" class="form-control" />
                    <label>VideoUrl</label>
                    <input asp-for="@Model.VideoUrl" class="form-control" />
                    <label>Desctiprion</label>
                    <input asp-for="@Model.Description" class="form-control" />
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">Create Section</button>
            </div>
        </div>
    </div>
</form>*@