@using TopCourses.Core.Models
@model IEnumerable<LanguageModel>

<h2>Languages</h2>

<ul class="list-group">
    @foreach (var element in Model)
    {
        <li class="list-group-item">@element.Title</li>
    }
</ul>
<button type="submit" class="btn btn-primary" onclick='redirectOnClick()'>Add</button>

@section Scripts{
    <script>
        function redirectOnClick() {
            document.location = 'Add';
        }
    </script>
}

