@using TopCourses.Core.Models
@model IEnumerable<LanguageModel>

<h2>Languages</h2>

<ul class="list-group">
    @foreach (var element in Model)
    {
        <li class="list-group-item">@element.Title</li>
    }
</ul>
<a asp-controller="Language" asp-action="Add">
    <input type="button" class="btn btn-primary" value="Add" />
</a>



