@using TopCourses.Core.Models.Course
@model AddCourseModel

@if (Model.Curriculum.Count > 0)
{
    <div class="container border-dark col-md-10">
        <div class="row">
            <div class="col-md-8">
                <div class="container pt-3 border-dark">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header bg-indigo" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Collapsible Group Item #1
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<@*div class="card card-default col-md-8">
    <div class="card-header bg-indigo">
        <h3 class="card-title ">Add Section</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <!-- /.card-header -->
    <div id="sectionBody" class="card-body">
        <div class="row">
            <div class="col-md-12">
                <label>Title</label>
                <input asp-for="@Model.Section.Title" id="sectionTitle" class="form-control" />
                <label>VideoUrl</label>
                <input asp-for="@Model.Section.VideoUrl" id="sectionVideoUrl" class="form-control" />
                <label>Desctiprion</label>
                <input asp-for="@Model.Section.Description" id="sectionDescription" class="form-control" />
                <input asp-for="@Model.Curriculum" id="Curriculum" class="form-control" />
            </div>
        </div>
        <div class="row">
            <button type="button" id="addSection" class="btn btn-primary">create section</button>
        </div>
    </div>
</div>*@


@section Scripts{
    <script src="~/js/createSection.js"></script>
}