
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="/" class="nav-link">
                <i class="fas fa-home"></i>
                <p>
                    Home
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Course" asp-action="MyLearning" class="nav-link">
                <i class="fas fa-book"></i>
                <p>
                    My Learning
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="" asp-controller="Course" asp-action="Add" class="nav-link">
                <i class="fas fa-plus-circle"></i>
                <p>
                    Add Course
                </p>
            </a>
        </li>
        @if (User.IsInRole(RoleConstants.Administrator))
        {
            <li class="nav-item">
                <a asp-area="admin" asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="fas fa-plus-circle"></i>
                    <p>
                        Admin area
                    </p>
                </a>
            </li>
        }
    </ul>
</nav>